.alert {
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
  }

  .container {
    display: grid;
    grid-template-columns: 19% repeat(3, 27%);
  }

  .container > div {
    background-color: #3c763d;
    height: 300px;
    border-right: 1px solid white;
  }