/* Grid structure, text alignment & size, color */

.container {
  display: grid;
  grid-template-columns: 19% repeat(3, 27%);
  font-family: 'Open Sans';
  color: var(--text-color);
  background-color: var(--primary-color);
}

.container > div {
  height: 400px;
  /* border-right: 1px solid var(--dim-white); */
}

.container > div:not(:first-child) {
  text-align: center;
  font-size: var(--font-size-1);
}

.wrapper > div:nth-child(odd) {
  background-color: var(--secondary-color);
}


/* Padding of text within boxes */

.container > div:not(:first-child) {
  padding-top: 20px;
}

.container > div:first-child {
  padding: 210px 0 0 40px;
}


/* Table structure */

table {
  margin: auto;
  margin-top: 20px;
  border-collapse: collapse;
  border-bottom: 2px solid var(--dim-white);
}

td {
  height: 30px;
  width: 140px;
}

td:first-child {
  border-right: 2px solid var(--dim-white);
}

td:nth-child(2) {
  border-left: 2px solid var(--dim-white);
}

tr:first-child > td {
  height: 50px;
}

td > div {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 3px;
  font-size: var(--font-size-2);
}

.disk-1 {
  height: 30px;
  width: 80px;
  background-color: hsl(208, 99%, 60%);
  left: calc(-80px / 2);
}

tr:first-child .disk-1 {
  top: 20px;
}

.disk-2 {
  height: 100%;
  width: 100px;
  background-color: hsl(208, 99%, 56%);
  left: calc(-100px / 2);
}

.disk-3 {
  height: 100%;
  width: 120px;
  background-color: hsl(208, 99%, 52%);
  left: calc(-120px / 2);
}

.disk-4 {
  height: 100%;
  width: 140px;
  background-color: hsl(208, 99%, 48%);
  left: calc(-140px / 2);
}

.disk-5 {
  height: 100%;
  width: 160px;
  background-color: hsl(208, 99%, 44%);
  left: calc(-160px / 2);
}

.disk-6 {
  height: 100%;
  width: 180px;
  background-color: hsl(208, 99%, 40%);
  left: calc(-180px / 2);
}

.disk-7 {
  height: 100%;
  width: 200px;
  background-color: hsl(208, 99%, 36%);
  left: calc(-200px / 2);
}

.disk-8 {
  height: 100%;
  width: 220px;
  background-color: hsl(208, 99%, 32%);
  left: calc(-220px / 2);
}

.disk-9 {
  height: 100%;
  width: 240px;
  background-color: hsl(208, 99%, 28%);
  left: calc(-240px / 2);
}

.disk-10 {
  height: 100%;
  width: 260px;
  background-color: hsl(208, 99%, 24%);
  left: calc(-260px / 2);
}