* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

:root {
    --primary-color: rgb(39, 40, 44);
    --secondary-color: rgb(29, 30, 33);
    --input-color: rgb(43, 44, 49);
    --dim-white: rgba(255, 255, 255, 0.274);
    --text-color: rgb(255, 255, 255);
    --red: rgb(255, 93, 93);
    --blue: #1692fe;
    --yellow: rgb(255, 210, 104);
    --green: rgb(54, 210, 145);
    --dark-green: hsl(155, 63%, 15%);
    --fade-color: hsl(228, 6%, 25%);
    --fade-text: hsl(228, 6%, 60%);
}

body {
    color: var(--text-color);
    background-color: var(--primary-color);
    font-family: 'Montserrat Alternates';
}



/* Title div */

#title-div {
    width: 29em;
    margin: auto;
    margin-top: 30px;
}

#title-div h1 {
    font-family: Nissma;
    font-size: 4em;
    color: var(--yellow);
}

#title-div p {
    font-family: Montserrat;
    font-size: 1.5em;
    text-align: right;
    right: 14px;
    padding-bottom: 20px;
}



/* Input div */

#input-div {
    margin-top: 80px;
    margin-left: 60px;
}

#input-div *  {
    display: inline-block;
}

#input-div #disks {
    height: 30px;
    width: 130px;
    border: none;
    border-radius: 4px;
    margin-top: 8px;
    padding-left: 8px;
}

#input-div button {
    height: 30px;
    width: 50px;
    border: none;
    border-radius: 4px;
    color: var(--dark-green);
    background-color: var(--green);
    font-size: 1em;
    font-weight: bold;
    margin-left: 4px;
}

#input-div button:hover {
    box-shadow: 0 0 6px #36d291b7, 0 0 2px #0e3e2acc;
    transform: scale(1.1,1.1);
}

#input-div button:active {
    background-color: hsl(155, 63%, 40%);
    transform: scale(0.95,0.95);
}

#input-div label:nth-of-type(1) {
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
}

#input-div label:nth-of-type(2) {
    font-family: 'Montserrat Alternates';
    font-size: 0.8em;
    margin-top: 16px;
    color: var(--fade-text);
    border-bottom: 2px dashed var(--fade-text);
    padding-bottom: 3px;
}

#input-div #iterate {
    height: 12px;
    width: 12px;
    top: 2px;
    margin-left: 4px;
}

hr {
    border-top: none;
    border-bottom: 4px dashed var(--fade-color);
}

#input-div + hr {
    margin-top: 26px;
}



/* Bottom arrow */

#arrow {
    position: absolute;
    right: 60px;
    margin-top: 50px;
    padding-bottom: 50px;
}

#arrow:active {
    transform: scale(1.1,1.1);
    padding-top: 2.5px;
}

#arrow:active #buffer {
    padding-top: 2.5px;
}

#arrow img:hover {
    border-radius: 100px;
    box-shadow: 0 0 6px #36d2919a, 0 0 2px #155a3dab;
}

#buffer {
    position: absolute;
    top: -20px;
    right: -10px;
}


#arrow, #iteration-hr {
    visibility: hidden;
  }
  
  
  #copyright {
    text-align: center;
    color: hsl(225, 6%, 45%);
    visibility: hidden;
  }
  
  #copyright p:first-child {
    margin-top: 45px;
    font-family: 'Open';
    font-size: 1.3em;
  }
  
  #copyright p:nth-child(2) {
    margin-top: 15px;
    font-size: 0.72em;
  }